ul, ol {
  padding-left: 0;
  margin-left: 30px;
}

.jumbotron .btn {
  margin: 5px 0;
}

.tracklist {
  margin-top: 0;
}

.list-inline {
  margin-left: 0;
}

.time {
  padding-left: 0.5em;
}

.text-justify {
  text-align: justify;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
       -o-hyphens: auto;
          hyphens: auto;
}

.download {
  margin: 5px 0;
}

.download li {
  padding: 0;
}

.dropdown-menu li {
  font-size: 15px;
  line-height: 1.5;
}

.jumbotron {
  margin: 0;
}
